<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
</head>
<body>
    <h1>Welcome {{session['first_name']}}!</h1>
    <p>These are the recipes</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Under 30 Minutes?</th>
            <th>Actions</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{recipe.name}}</td>
            <td>{% if recipe.under_30_minutes == 1 %}
                Yes
                {% else: %}
                No
                {% endif %}
            </td>
            <td><a href="/recipes/{{recipe.id}}">View Instructions</a>
            {% if recipe.user_id == session['user_id'] %}
                <a href="/recipes/edit/{{recipe.id}}">Edit</a>
                <a href="/recipes/delete/{{recipe.id}}">Delete</a>
            </td>
            {% endif %}
        </tr>
            {% endfor %}
    </table>
    <a href="/recipes/new">Create</a>
    <a href="/logout">Logout</a>

</body>
</html>